.h{
position:absolute;/*by using position we can access top,left.. and using absolute we can fix at the the onbject at exact top or bottom */
left:0%;
top:0%;
background-color:black;
width:100%;
height:6%;
display:flex;
align-items:center;
font-weight: bolder;
}
.h h1{ display:inline-block;
 font-size: small;
 color:gold; 
padding:0%;
 margin:0%;
}
.q { 
height:40px; 
width:40px; 
}
.w{ 
display:flex;
 justify-content:center;
 align-items:center; 
width:80px; 
height:20px;
 margin-left:1100px; 
font-size: small; 
text-decoration:none;
 animation:glitter 3s infinite; 
text-decoration:none; 
color:gold; 
font-weight:bolder;
 font-family:'Times New Roman', Times, serif; 
} 
@keyframes glitter 
{ 
0%
{
 text-shadow:0 0 5px gold,0 0 10px gold,0 0 15px gold,0 0 20px gold,0 0 25px gold,0 0 30px gold,0 0 35px gold; 
} 
50%
{
 text-shadow:0 0 5px silver,0 0 10px silver,0 0 15px silver,0 0 20px silver,0 0 25px silver,0 0 30px silver,0 0 35px silver;
 }
100% 
{
 text-shadow:0 0 5px gold,0 0 10px gold,0 0 15px gold,0 0 20px gold,0 0 25px gold,0 0 30px gold,0 0 35px gold;
}
 } 
.j {

background-color:rgb(0,0,0);
text-decoration:none; 
margin-left:8px; 
}
.k{
 position:absolute; 
 margin-top:3%;
 background-color:pink;
 height:6%; 
 width:100%;
 display:flex;     /* put all <a> in one row / / equal spacing */ 
 align-items: center; 
 background: #f8f8f8;
 padding: 10px; 
}
.k a {
 text-decoration: none; 
 color: black; 
 font-weight: bold; 
 font-size: 14px; 
 transition: 0.3s;
 }

.k a:hover { 

 color: #ff3f6c; 
}
 .k .hamburger
{ 
margin-left:10px;
}
.search
{ 
margin-bottom:50px; 
} 
.ae
{
 margin:40px;
 } 
.ac
{ 
margin:40px;
 }
 .aa
{
 margin-left:40px;
} 
.dropdown
 {
 position: relative; 
 display:inline-block; /*FOR EXAMPLE SECOND CONTAINER BECOMES THE CHILD OF FIRST CONTAINER(WHICH MEANS IT COMES INSIDE THE FIRST DIV)*/
}
.dropdown-content { 
display:none;  /*INITIALY IT IS HIDDEN*/ 
position: absolute; 
background-color: #fff; 
width: 200%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index:1000; 
 left:50%;
 transform:translatex(-50%); 
font-family:Verdana, Geneva, Tahoma, sans-serif; 

} 
.dropdown-content a 
{
 color: black;
 padding: 8px 12px;
 text-decoration: none;
 display: block;
 text-align: center;
 }
.dropdown:hover .dropdown-content
 {
   /*when in touch then types show*/
 display:block;
 border-radius:20px;
 }
 input {
 margin-right:50px; 
margin-bottom:10px; 
background-color:white; 
color:black;
 width:50%;
 height:35px;
 display:flex; 
justify-content:center; 
align-items:center; 
margin-top:3%;
 font-size:medium;
 margin-left:5%; 
border-radius:10px; 
border:2px solid gold;
}
input:focus
{ 
outline:none; 
border-color: gold;
}
input::placeholder{ 
color:gray;
 font-style:italic;
 }