.rq {
    background-image:url(hh.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    color:rgb(255,255,255);
    margin-left:38%;
    height:480px;
    width: 400px;
    margin-top:10%;
    border-radius: 15px;
    text-align: center;
    object-fit:contain;
}
    rq:hover{
      box-shadow:black;
    }
    
.h1{
    padding: 0 18px;
}
    .hi input[type="text"],
    .hi input[type="password"]
    {
        width: 93%;
        box-sizing:border-box;
        padding:10px 40px 10px 10px;
        font-size:16px;
        margin-bottom:15px;
        border-radius:5px;
        border:1px solid grey;
        margin-left:15px;
        margin-right:25px;

    }
   .hi h4{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
    }
    
    body{

    background-image:url(back.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
}
h4{
    margin-bottom:5px;

}
.hi h4{
    margin-left:18px; 
    text-align:left;

}

input
{
    color:black;
    font-weight:bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:15px;
}

#jj{
    text-decoration:none;
    width:90%;
    height:40px;
    color:white;
    background-color:rgb(49, 5, 63);
    margin-top:5%;
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    border-radius:10px;
    font-size: medium;
    border:none;
    margin-left:0;
    margin-right:0;
    cursor:pointer;
    position:relative;
    display:block;
    margin-left:20px;
}
.gu:active{
    background-color:#2d013c;
    transform:scale(0.98);
}

.po {
    position:relative;
}

.po input[type="password"] { /* space for eye */
    box-sizing: border-box;
}

#icon {
    position:absolute;
    right: 20px;
    top: 50%;
    transform:translatey(-82%);
    cursor: pointer;
    font-size: 18px;
    color: black;

}
#icon:hover {
    color: grey;

}
.kk{
    text-decoration: none;
}
.ll{
    color:whitesmoke;
    text-decoration:none;
}
.ll:hover{
      color:black;
}
